@import 'variables';

.btn{
  border: none;
  color: $white;
  background-color: #333333;
  transition: all ease .4s;
  font-family: $font-family;
  font-size: 1rem;
  text-decoration: none;
  height: 55px;
  &:focus{
    outline: none;
  }
  object{
    margin-left: -10px;
    margin-right: 13px;
  }
}

.btn-card{
  width: 226px;
  border-radius: 2rem;
}

.btn-big{
  width: 280px;
  border-radius: 2rem;
  font-size: 24px;
  padding-top: 10px;
}

.btn-normal{
  width: 170px;
  border-radius: 2rem;
}


.btn-small{
  width: 48%;
  border-radius: 2rem;
  height: 45px;
  font-size: 13px;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  color: $white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
    object{
      margin-left: 5px;
    }
  &-pet{
    font-size: 22px;
    margin: 0 auto;
  }
}

.btn-upload{
  display: flex;
  font-size: 15px;
  width: 140px!important;
  height: 38px!important;
}



.btn-xSmall{
    height: 30px;
    padding:  10px 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    color: white!important;
}


.ghostBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
}

.circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #cacaca;
}

.circleB{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.triangulo{
width: 0;
height: 0;
border-top: 8px solid transparent;
border-left: 16px solid white;
border-bottom: 8px solid transparent;
margin-right: 15px;
margin-left: -1px;
}

.nav-btn{
  position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 3.1;
    color: $white;
    font-weight: 600;
    text-decoration: none;
}