@import 'variables';

.calendar{
    height: max-content;
    &-week-day{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        div{
            display: grid;
            place-items: center;
            color: $orange;
            font-size: 13px;
            padding-bottom: 8px;
        }
    }
    &-days{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        font-size: 14px; 
        div{
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: end;
            margin-bottom: 3px;
            place-self: center;
            font-size: 13px;
            @include tablets{
            padding: 1px;
            }
        } 
        .day{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.month{
    &-picker{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        span{
            font-weight: 600;
        }
        div{
            display: flex;
            align-items: center;
            .month-change{
            margin: 0 2px;
            }
        }
    }
}


.date{
    display: flex;
    flex-direction: column;
    align-items: center;
    .day{
        font-weight: 600;
        font-size: 18px;
    }
    &-picker{
        font-size: 14px;
    }
}

.toDay{
    background: $greenish-blue;
    width: 25px!important;
    height: 25px!important;
    color: white;
    border-radius: 50%;
    padding-left: 1px;
    font-size: 11px;
    padding: 5px;
}

.agendaDay{
    background: #cbcbcc;
    color: white;
    display: flex !important;
    border-radius: 31px;
    justify-content: center !important;
    width: 25px!important;
    height: 25px!important;
    border-radius: 50%;
    margin-top: -1px;
    font-size: 11px;
    padding: 5px;
}

.events{
    display:flex;
    height: 10px;
}

.event1{
    background: $greenish-blue;
    height: 6px!important;
    width: 6px!important;
    border-radius: 50%;
    margin: 1px;
}
.event2{
    background: #f2890b;
    height: 6px!important;
    width: 6px!important;
    border-radius: 50%;
    margin: 1px;
}
.event3{
    background: #ffc332;
    height: 6px!important;
    width: 6px!important;
    border-radius: 50%;
    margin: 1px;
}