@import 'variables';

.formLogin{
  margin-top: 40px;
    input[type="number"], input[type="password"]{
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      padding: .7rem;
      color: $black;
      font-size: 1rem;
      border-radius: $br-md;
      background: #c5aa1d;
      width: 100%;
      margin: 6px 0;
  }
  select{
    background: none;
    border: none;
    font-size: 18px;
    color: #8f6b04;
  }
  label{
    color: #c5aa1d;
  }
  input[type="submit"]{
    margin: 3vh auto 0;
    display: block;
    font-size: 20px;
    height: 48px;
  }
  
}  

.areaTyc{
   padding: 8px 0 10px;
}

.petForm{
  input[type="text"], input[type="number"],
  input[type="email"], input[type="tel"],
  input[type="date"] {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    height: 26px;
    color: #b8b8b8;
  }
  .division{
    margin: 5px 0;
  }
  .form-content{
    margin-top: 14px;
  }

  .form-genero{
    display: flex;
    align-items: center;
  }
  .genero{
    margin-right: 14px;
  }
} 

.wInput{
  &-A{
    width: 69vw;
  }
  &-B{
    width: 75vw;
  }
  &-C{
    width: 41vw;
  }
  &-D{
    width: 75vw;
  }
  &-E{
    width: 65vw;
  }
  &-F{
    width: 69vw;
  }
  &-G{
    width: 62vw;
  }
  &-H{
    width: 74vw;
  }
  &-I{
    width: 71vw;
  }
}
