@import 'variables';

.formLogin{
  margin-top: 40px;
    input[type="number"], input[type="password"]{
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      padding: .7rem;
      color: $black;
      font-size: 1rem;
      border-radius: $br-md;
      background: #c5aa1d;
      width: 100%;
      margin: 6px 0;
  }
  select{
    background: none;
    border: none;
    font-size: 18px;
    color: #8f6b04;
  }
  label{
    color: #c5aa1d;
  }
  input[type="submit"]{
    margin: 3vh auto 0;
    display: block;
    font-size: 20px;
    height: 48px;
  }
  
}  

.areaTyc{
   padding: 8px 0 10px;
}

.petForm{
  input[type="text"], input[type="number"],
  input[type="email"], input[type="tel"],
  input[type="date"] {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    height: 26px;
    color: #b8b8b8;
  }
  .division{
    margin: 5px 0;
  }
  .form-content{
    margin-top: 14px;
  }

  .form-genero{
    display: flex;
    align-items: center;
  }
  .genero{
    margin-right: 14px;
  }
} 

.wInput{
  &-A{
    width: 69vw;
  }
  &-B{
    width: 75vw;
  }
  &-C{
    width: 41vw;
  }
  &-D{
    width: 75vw;
  }
  &-E{
    width: 65vw;
  }
  &-F{
    width: 69vw;
  }
  &-G{
    width: 62vw;
  }
  &-H{
    width: 74vw;
  }
  &-I{
    width: 71vw;
  }
}

.group{ 
  position:relative; 
  margin-bottom:20px; 
  input,select{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    color:#999; 
  }
  
  label 				 {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    left:10px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }

  input:focus ~ label, input:valid ~ label 		{
    top:-8px;
    font-size:12px;
    color:#999;
    background-color: #fff;
    padding: 0 10px;
  }

}



.switch {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  padding: 1em 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switch i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: .4em;
  transform: translateY(-50%);
  width: 2.875em;
  height: 1.625em;
  margin-right: .8em;
  background: #E6E6E6;
  border-radius: 1.4375em;
  vertical-align: middle;
  transition: .3s linear;
}

.switch i::after {
  content: "";
  position: absolute;
  width: 1.375em;
  height: 1.375em;
  left: 0;
  transform: translate(.125em,.125em);
  border-radius: .6875em;
  background: #FFFFFF;
  box-shadow: .125em .0625em .0625em rgba(0,0,0,.1);
  transition: .2s ease-in-out;
}

.switch input:checked + i {
  background: $soft-orange;
}

.switch input:checked + i::after {
  transform: translate(1.375em,.125em);
}

.switch span {
  display: block;
  padding-left: 4.4em;
  vertical-align: middle;
}
