@import 'variables';

.slidefull{
  margin: 0;
}

@mixin setupSlide($id, $pos) {
    $idId: '#' + $id;
    #{$idId}:checked {
      ~ .slider {
        transform: translateX(-$pos * 100vw);
      }
      ~ nav {
        label {
          display: none;
        }
        label.#{$id} {
          display: initial;
        }
        .buttons {
          user-select: none;
          
          .labelSplash {
            display: inline-block;
          }
          label[for="#{$id}"] {
            cursor: default;
            opacity: 1;
          }
        }
      }
    }  
  }

  @include setupSlide('my-tree', 0);
  @include setupSlide('profile', 1);
  @include setupSlide('people-select', 2);
  @include setupSlide('leaves', 3);
  
  input[type="radio"] {
    position: fixed;
    top: -100vh;
  }
  .labelSplash {
    cursor: pointer;
    opacity: 0.5;
    
    &:hover {
      opacity: 0.75;
    }
  }
  .navSlide {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    height: 100vh;
    text-align: center;
  
    .done {
      font-size: 2em;
      font-weight: bold;
      color: white;
      position: absolute;
      right: 1em;
      bottom: 1em;
    }
    .buttons {
      display: block;
      margin: 0 auto;
      position: absolute;
      width: 100%;
      left: 0;
      color:#06c9ef;
      top: 1.8em;
      
      .labelSplash {
        font-size: 2em;
        width: 9mm;
      }
    }
    .prev, .next {
      position: absolute;
      width: 50vw;
      top: 0;
      height: 100vh;
    } 
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
  }
  .slider {
    width: 4 * 100vw;
    position: fixed;
    transform: translate3d(0,0,0);
    transition: transform 0.3s ease;
    color: white; 
  }
  .slide {
    text-align: center;
    float: left;
    height: 100vh;
    width: 100vw;
    
    img {
      display: block;
      max-height: 70%;
      max-width: 100%;
      margin: auto;
    }
    h2 {
      display: inline-block;
      font-size: 5vh;
      font-weight: normal;
      text-align: left;
      margin: 0 2em;
    }
  }
  #my-tree-slide {
    background-color: white;
    background-image: url('../img/pet1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 46vh;
    p{
      color: $blue-light-text;
      margin: 0 0 20px;
    }
  }
  #profile-slide {
    background-color: #baeaf2;
  }
  #people-select-slide {
    background-color: white;
  }
  #leaves-slide {
    background-color: #baeaf2;
    h2 {
      margin-top: 1em;
      line-height: 100vh;
      vertical-align: middle;
    }
  }
  
  .contentSlide{
    margin-top: 16Vh;
    position:relative;
    height: 70vh;
  }

.btn-slide{
    position: relative;
    z-index: 1000;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 408px;
    @include tablets{
        height: 530px;
    }
    @include desktops{
        height: 530px;
    }
    @include desktopsHD{
        height: 530px;
    }
    @include desktopsFullHD{
        height: 530px;
    }

  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    img{
        width:200px;
        margin: 0 auto;
        @include tablets{
            width:300px;
        }
        @include desktops{
            width:320px;
        }
        @include desktopsHD{
            width: 340px;
        }
        @include desktopsFullHD{
            width: 340px;
        }
    }
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

}