// Colors
$yellow: #f7d62b;
$greenish-blue: #06c9ef;
$light-blue: #baeaf2;
$orange: #f2890b;
$soft-orange: #f18e37;
$salmon: #f17c5c;
$dark-grey-blue: #323d59;
$metallic-blue: #54648f;
$black: black;
$light-gray: #f1f1f1;
$white: #fff;
$text: #3c3c3c;
$blue-dark-text:#056ea1; 
$blue-light-text:#009fee; 

.blue-textA{
    color: $blue-dark-text;
}

.blue-textB{
    color: $blue-light-text;
}

.orange-textC{
    color: $soft-orange;
}

.orange-textD{
    color: $orange;
}

.blue-textE{
    color: $greenish-blue;
}

.yellow-textF{
    color: $yellow;
}

.lightBlue-textB{
    color: $light-blue;
}

.yelllow-bg{
    background-color: $yellow;
}

.light-blue-bg{
    background-color: $light-blue;
}

.orange-bg{
    background-color: $soft-orange;
}

.orange-gradient{
    background: rgb(245,161,58);
    background: linear-gradient(180deg, rgba(245,161,58,1) 0%, rgba(242,137,13,1) 100%);
}

.orange-light-gradient{
    background: rgb(244,164,94);
    background: linear-gradient(180deg, rgba(244,164,94,1) 0%, rgba(241,145,59,1) 100%);
}

.blue-light-gradient{
    background: rgb(199,238,245);
    background: linear-gradient(180deg, rgba(199,238,245,1) 0%, rgba(186,234,241,1) 100%);
}

.blue-green-gradient{
    background: rgb(54,211,241);
    background: linear-gradient(180deg, rgba(54,211,241,1) 0%, rgba(10,202,239,1) 100%);
}

.yellow-dark-gradient{
    background: rgb(247,191,57);
    background: linear-gradient(180deg, rgba(247,191,57,1) 0%, rgba(246,177,12,1) 100%);    
}

.yellow-light-gradient{
    background: rgb(248,222,83);
    background: linear-gradient(180deg, rgba(248,222,83,1) 0%, rgba(247,213,45,1) 100%);
}

// $error: $red;

// $primary: $red;
// $secondary: $dark;

// Breakpoints
$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
 
// borer radius
$br-lg: 20px;
$br-md: 10px;
$br-sm: 5px;

// Fonts
$font-family: 'Exo 2', sans-serif;

//line
hr{
    background: #e5e5e5;
    height: 5px;
    width: 70px;
    border: none;
    border-radius: 10px;
}