// Colors
$yellow: #f7d62b;
$greenish-blue: #06c9ef;
$light-blue: #baeaf2;
$orange: #f2890b;
$soft-orange: #f18e37;
$salmon: #f17c5c;
$dark-grey-blue: #323d59;
$metallic-blue: #54648f;
$black: black;
$light-gray: #f1f1f1;
$white: #fff;
$text: #3c3c3c;
$blue-dark-text:#056ea1; 
$blue-light-text:#009fee; 

.yelllow-bg{
    background-color: $yellow;
}

.light-blue-bg{
    background-color: $light-blue;
}

.orange-bg{
    background-color: $soft-orange;
}

.blue-textA{
    color: $blue-dark-text;
}

.blue-textB{
    color: $blue-light-text;
}

// $error: $red;

// $primary: $red;
// $secondary: $dark;

// Breakpoints
$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
 
// borer radius
$br-lg: 20px;
$br-md: 10px;
$br-sm: 5px;

// Fonts
$font-family: 'Exo 2', sans-serif;